<div *ngIf="isDataLoaded" class="container col s12">
  <div class="row">
    <div>
      <h3 class="center">Question {{ indexQuestion + 1 }}/20</h3>
      <div class="titre">
        <h4>{{ quizzCapital[indexQuestion].name }}</h4>
      </div>

      <br />
      <div class="col s10 offset-s1">
        <div
          class="btn-right chip blue darken-1 white-text bold chip-with-border"
          [ngClass]="{
            selected: selectedChoice === shuffledChoices[0],
            correct: isAnswerCorrect && selectedChoice === shuffledChoices[0]
          }"
          (click)="validateAnswer(shuffledChoices[0])"
        >
          {{ shuffledChoices[0] }}
        </div>
        <div
          class="btn-right chip blue darken-1 white-text bold chip-with-border"
          [ngClass]="{
            selected: selectedChoice === shuffledChoices[1],
            correct: isAnswerCorrect && selectedChoice === shuffledChoices[1]
          }"
          (click)="validateAnswer(shuffledChoices[1])"
        >
          {{ shuffledChoices[1] }}
        </div>

        <div
          class="btn-right chip blue darken-1 white-text bold chip-with-border"
          [ngClass]="{
            selected: selectedChoice === shuffledChoices[2],
            correct: isAnswerCorrect && selectedChoice === shuffledChoices[2]
          }"
          (click)="validateAnswer(shuffledChoices[2])"
        >
          {{ shuffledChoices[2] }}
        </div>

        <div
          (click)="next()"
          class="btn-right chip blue darken-1 white-text bold chip-with-border"
        >
          Next
        </div>
      </div>
    </div>
  </div>
</div>
