<div *ngIf="isDataLoaded" class="container col s12">
  <div class="row">
    <div>
      <h3 class="center">Question {{ indexQuestion + 1 }}/20</h3>
      <div class="titre">
        <h4>{{ quizzPays[indexQuestion].name }}</h4>
      </div>

      <br />
      <div class="col s10 offset-s1">
        <img
          class="drapeau mini"
          [src]="shuffledChoices[0]"
          [ngClass]="{
            selectedP: selectedChoice === shuffledChoices[0],
            correctP: isAnswerCorrect && selectedChoice === shuffledChoices[0]
          }"
          (click)="validateAnswer(shuffledChoices[0])"
        />
        <br />
        <img
          class="drapeau mini"
          [src]="shuffledChoices[1]"
          [ngClass]="{
            selectedP: selectedChoice === shuffledChoices[1],
            correctP: isAnswerCorrect && selectedChoice === shuffledChoices[1]
          }"
          (click)="validateAnswer(shuffledChoices[1])"
        />
        <br />
        <img
          class="drapeau mini"
          [src]="shuffledChoices[2]"
          [ngClass]="{
            selectedP: selectedChoice === shuffledChoices[2],
            correctP: isAnswerCorrect && selectedChoice === shuffledChoices[2]
          }"
          (click)="validateAnswer(shuffledChoices[2])"
        />
        <div
          (click)="next()"
          class="btn-right chip blue darken-1 white-text bold chip-with-border"
        >
          Next
        </div>
      </div>
    </div>
  </div>
</div>
