<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <div
        class="btn-left chip blue darken-1 white-text bold chip-with-border"
        [class.hidden-list]="!goToHomeService.isOn"
      >
        CAPITALES
      </div>

      <div
        (click)="goToQuizzDrapeau()"
        class="btn-right chip blue darken-1 white-text bold chip-with-border"
        [class.hidden-list]="!goToHomeService.isOn"
      >
        DRAPEAUX
      </div>

      <div
        class="btn-left chip blue darken-1 white-text bold chip-with-border"
        [class.hidden-list]="!goToHomeService.isOn"
      >
        PAYS
      </div>
      <div
        (click)="goToHome()"
        class="btn-right chip blue darken-1 white-text bold chip-with-border"
        [class.hidden-list]="!goToHomeService.isOn"
      >
        RETOUR
      </div>
    </div>
  </div>
</div>
